html[data-theme='dark'] {
    --button-text-color: #ffffff;
    --button-background-color: #4e005c;
    --button-border-color: #ba8fc2;

    --background-color: #292929;
    --icon-color: #ba8fc2;

    ---text-color: #ffffff;
}

html[data-theme='light'] {
    --button-text-color: #252525;
    --button-background-color: #f9d4ff;
    --button-border-color: #4e005c;

    --background-color: #dfdfdf;
    --icon-color: #4e005c;

    ---text-color: #252525;
}

body {
    background-color: var(--background-color);
    color: var(---text-color)
}

table {
    width: 100%;
    table-layout: fixed;
}

tbody {
    width: 100%;
}

tr {
    width: 100%;
    border: 1px solid black;
}

.table td {
    padding: 0.5em 0.75em;
    vertical-align: top;
}